body{
    background-color: rgb(246, 248, 252);
}

.page_link{
    margin-top: 20pt;
    text-align: center;
}

.page_link li{
    display: inline;
    font-size: 12pt;
    padding-right: 15pt;
}

.login_link{
    float: right;  
    margin-right: 2em;
    margin-left: -12em;
}

.login_link li{
    font-weight: 700;    
    display: inline;
    font-size: 12pt;
    padding-right: 15pt;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: rgb(94, 93, 97);
}
    
/* visited link */
a:visited {
    color: rgb(94, 93, 97);
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: rgb(94, 93, 97);
}

#thispage a:visited{
    color: rgb(58, 20, 172);
}

#title_h{
   font-family: monospace;
   text-align: left;
   margin-left: 5em;
   margin-top: 5em;
   font-size: 25pt;
   margin-bottom: 1em;
}

#title_p{
    font-size: 15pt;
    font-family: monospace;
    font-weight: 400;
    text-align: left;
    margin: 0em 37em 0 9em;
}


.myemail{
    border: 1px solid rgb(228, 227, 235);
    background-color: white;
    margin-left: 12em;
    margin-top: 2em;
    margin-right: 50em;
    border-radius: 10px;
    padding: 5pt;
    padding-bottom: 1pt;
}

.myemail p{
    font-family: monospace;
    font-size: 15pt;
    margin-top: 0;
}
.myemail img{
    float: left;
    margin-right: 1em;
}

#email_text{
    margin-left: 2.2em;
    color: rgb(86,43,235);
}

#email_text:hover{
    color: red;
}

.mynum{
    border: 1px solid rgb(228, 227, 235);
    background-color: white;
    margin-left: 12em;
    margin-top: 2em;
    margin-right: 50em;
    border-radius: 10px;
    padding: 5pt;
    padding-bottom: 1pt;
}

.mynum p{
    font-family: monospace;
    font-size: 15pt;
    margin-top: 0;
}
.mynum img{
    float: left;
    margin-right: 1em;
}

#num_text{
    color: rgb(86,43,235);
}
#num_text:hover{
    color: red;
}

.myemail:hover ,.mynum:hover{
    border: 2px solid rgb(86,43,235);
}

.contact_container{
    border: 1px solid rgb(228, 227, 235);
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 55em;
    top: 10em;
    width: 30em;
    height: 30em;
}

#form_title{
    margin-left: 1em;
    font-family: monospace;
}

.contact_form{
    margin-top: 1em;
}

#name{
    border: 1px solid rgb(228, 227, 235);
    border-radius: 8px;
    background-color: rgb(247,246,255);
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 2em;    
}

#email{
    border: 1px solid rgb(228, 227, 235);
    border-radius: 8px;
    background-color: rgb(247,246,255);
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 2em; 
}

#telephone{
    border: 1px solid rgb(228, 227, 235);
    border-radius: 8px;
    background-color: rgb(247,246,255);
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 2em; 
}

#message_text{
    font-family: monospace;
    margin-left: 2em;
}

#messagebox{
    border: 1px solid rgb(228, 227, 235);
    border-radius: 8px;
    background-color: rgb(247,246,255);
    width: 90%;
    height: 11em;
    margin-left: 2em;
}

#name:hover, #email:hover, #telephone:hover, #messagebox:hover{
    border: 1px solid teal;
}

::placeholder{
    padding-left: 1em;
}

input[type=submit]{
    height: 6.5em; 
    width: 20em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 11em; 
    border-radius: 25px;
    color: white;
    background-color: rgb(86,43,235);
    border: 1px solid rgb(228, 227, 235);
}

input[type=submit]:hover{
    background-color: black;
}


.social_link{
    position: absolute;
    bottom: 0;
    text-align: left;
}

.social_link li{
    display: inline;
    padding-right: 15pt;
}