body{
    background-color: rgb(246, 248, 252);
    overflow: hidden;
}

.page_link{
    margin-top: 20pt;
    text-align: center;
}

.page_link li{
    display: inline;
    font-size: 12pt;
    padding-right: 15pt;
}

.login_link{
    float: right;  
    margin-right: 2em;
    margin-left: -12em;
}

.login_link li{
    font-weight: 700;    
    display: inline;
    font-size: 12pt;
    padding-right: 15pt;
}


/* unvisited link */
a:link {
    text-decoration: none;
    color: rgb(94, 93, 97);
}
    
/* visited link */
a:visited {
    color: rgb(94, 93, 97);
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: rgb(94, 93, 97);
}

#thispage a:visited{
    color: rgb(58, 20, 172);
}

#title{
    font-family: monospace;
    margin-top:  2em;
    margin-left: 1.2em;
    font-size: 25pt;
    margin-bottom: 0;
}

#subtitle{
    font-family: monospace;
    font-size: 12pt;
    margin-left: 4em;
    margin-top: 3em;
}

article{
    margin-top: 2em;
    font-size: 14pt;
    font-family: monospace;
    margin-left: 3em;
    margin-right: 40em;
}

#para1{
    margin-bottom: 2%;
}

#text{
    color: gray;
}

#text1{
    color: brown;
}

#text2{
    color: orange;
}

#text3{
    color: darkblue;
}

#text4{
    color: darkgreen;
}

#para2{
    margin-top: 0;
    margin-bottom: 2%;
}

#para3{
    margin-top: 0;
    margin-bottom: 0;
}

figure{
    float: right;
    position: relative;
    top: -25em;
    right: 7em;
    margin-bottom: 0;
}
figcaption{
    font-family: monospace;
    font-size: 10pt;
    margin-top: 0;
    margin-left: 20em;
}

#profile_img{
    clip-path: circle();
    width: 350px;
}

.social_link{
    position: absolute;
    bottom: 0;
    text-align: left;
}

.social_link li{
    display: inline;
    padding-right: 15pt;
}