body{
    background-color: rgb(246, 248, 252);
}

.page_link{
    margin-top: 20pt;
    text-align: center;
}

.page_link li{ 
    display: inline;
    font-size: 12pt;
    padding-right: 15pt;
}

.login_link{
    float: right;  
    margin-right: 2em;
    margin-left: -12em;
}

.login_link li{
    font-weight: 700;    
    display: inline;
    font-size: 12pt;
    padding-right: 15pt;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: rgb(94, 93, 97);
}
    
/* visited link */
a:visited {
    color: rgb(94, 93, 97);
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: rgb(94, 93, 97);
}

#thispage a:visited{
    color: rgb(58, 20, 172);
}

#skill_title{
    text-align: center;
    font-family: 'open sans',sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 2em;
    margin-bottom: 0;
}
hr{
    border: 1px solid #10cbc1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 0;
}

.skills-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 2em;
}

.skill-name{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2pt;
    margin-top: 1em;
    font-weight: 700;
}

.skill-bar{
    background: #dfdcdc;
    border-radius: 8px;
}

.html-per {
    width: 80%;
    background-color: rgb(16, 203, 193);
    padding-right: 0.5em;
    font-family: monospace;
    font-size: 10pt;
    color: white;
    text-align: right;
}

.css-per {
    width: 70%; 
    background-color: rgb(16, 203, 193);
    padding-right: 0.5em;
    font-family: monospace;
    font-size: 10pt;
    color: white;
    text-align: right;
}

.js-per {
    width: 60%; 
    background-color: rgb(16, 203, 193);
    padding-right: 0.5em;
    font-family: monospace;
    font-size: 10pt;
    color: white;
    text-align: right;
}

.php-per {
    width: 50%; 
    background-color: rgb(16, 203, 193);
    padding-right: 0.5em;
    font-family: monospace;
    font-size: 10pt;
    color: white;
    text-align: right;
}

.java-per{
    width: 70%; 
    background-color: rgb(16, 203, 193);
    padding-right: 0.5em;
    font-family: monospace;
    font-size: 10pt;
    color: white;
    text-align: right;
}


#exp_head{
    font-family: 'open sans',sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0;
    margin-left: 0.5em;
}
#hr2{
    border: 1px solid #10cbc1;
    border-radius: 8px;
    display: block;
    margin-left: 0;
    width: 14%;
}

.experiences{
    margin-top: 2em;
}

.experience1{
    width: 20%;
    position: absolute;
    margin-left: 1em;
    margin-right: 0;
    left: 1%;
}

.experience1 h1{
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    margin-right: 0.5em;
    font-weight: 600;
}
.experience1 strong{
    font-size: 11pt;
}
.experience1 img{
    position: relative;
    top: 0.5em;
}
.experience1 p{
    margin-top: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.experience1 #p1{
    margin-bottom: 0;
}
.experience1 #p2{
    margin-top: 0;
}

.vl1 {
    border-left: 2px solid gray;
    top: 30em;
    height: 13em;
    position: absolute;
    left: 24%;
  }


.experience2{
    width: 20%;
    position: absolute;
    margin-right: 0;
    left: 26%;
}
.experience2 h1{
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    margin-right: 0.5em;
    font-weight: 600;
}
.experience2 strong{
    font-size: 11pt;
}
.experience2 img{
    position: relative;
    top: 0.5em;
}
.experience2 p{
    margin-top: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.experience2 #p1{
    margin-bottom: 0;
}
.experience2 #p2{
    margin-top: 0;
}

.vl2 {
    border-left: 2px solid gray;
    top: 30em;
    height: 13em;
    position: absolute;
    left: 48%;
  }


.experience3{
    width: 20%;
    position: absolute;
    margin-right: 0;
    left: 50%;
}
.experience3 h1{
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    margin-right: 0.5em;
    font-weight: 600;
}
.experience3 strong{
    font-size: 11pt;
}
.experience3 img{
    position: relative;
    top: 0.5em;
}
.experience3 p{
    margin-top: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.experience3 #p1{
    margin-bottom: 0;
}
.experience3 #p2{
    margin-top: 0;
}

.vl3 {
    border-left: 2px solid gray;
    top: 30em;
    height: 13em;
    position: absolute;
    left: 73%;
  }


.experience4{
    width: 20%;
    position: absolute;
    margin-right: 0;
    left: 76%;
}
.experience4 h1{
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    margin-right: 0.5em;
    font-weight: 600;
}
.experience4 img{
    position: relative;
    top: 0.5em;
}
.experience4 strong{
    font-size: 11pt;
}
.experience4 p{
    margin-top: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.experience4 #p1{
    margin-bottom: 0;
}
.experience4 #p2{
    margin-top: 0;
}

.social_link{
    position: absolute;
    bottom: 0;
    text-align: left;
}

.social_link li{
    display: inline;
    padding-right: 15pt;
}

